update_interval = 7200000
calibration_interval = 5
news_api_key = "<<>>"
news_sources = "bbc-news, the-verge"
news_country = "de"
weather_api_key = "<<>>"
location = "Hanover, DE"
language = "en"
units = "metric"
show_last_update_time = 1
deep_sleep = False